<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.geosmart.pssms.rpcs.mapper.TbBackProductMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="me.geosmart.pssms.rpcs.entity.TbBackProduct">
		<id column="serialId" property="serialId" />
		<result column="back_order_id" property="backOrderId" />
		<result column="order_date" property="orderDate" />
		<result column="customer_code" property="customerCode" />
		<result column="product_code" property="productCode" />
		<result column="number" property="number" />
		<result column="price" property="price" />
		<result column="amount" property="amount" />
		<result column="memo" property="memo" />
	</resultMap>

</mapper>
