<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.geosmart.pssms.rpcs.mapper.TbBackOrderMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="me.geosmart.pssms.rpcs.entity.TbBackOrder">
		<id column="back_order_id" property="backOrderId" />
		<result column="customer_code" property="customerCode" />
		<result column="order_date" property="orderDate" />
		<result column="amount" property="amount" />
		<result column="parent_back_order_id" property="parentBackOrderId" />
		<result column="back_order_status" property="backOrderStatus" />
		<result column="memo" property="memo" />
	</resultMap>

    <select id="selectBackOrderByStatus" resultType="java.util.HashMap">

		SELECT product_code,order_type,sum(number) as sale_number FROM tb_sale_order
		<where>
			number is not null
			<if test="orderDateBegin != null">AND order_date <![CDATA[ >= ]]> #{orderDateBegin}</if>
			<if test="orderDateEnd != null">AND order_date <![CDATA[ <= ]]> #{orderDateEnd}</if>
		</where>
		GROUP BY product_code,order_type  ORDER BY product_code,order_type desc,sale_number  desc
	</select>

</mapper>
